---------------------------
/*REGISTER MOBILE FIRST*/
---------------------------
/*cambio esto aca*/

@font-face {
font-family: Wrestlemania;
src: url(../Fonts/wrestlemania/WRESTLEMANIA.ttf);
}

@font-face {
font-family: Frutiger;
src: url(../Fonts/frutiger/FrutigerLTStd-Cn.otf);
}

@font-face {
    font-family: Milestone;
    src: url(../Fonts/milestone/MilestoneFreeVersion-Script.otf);
    }
    
    html{
        overflow-x: hidden;
      }
      
    body{
        overflow-x: hidden;
    }
    
    *{
          box-sizing: border-box;
          margin:0 auto;
          padding: 0;
    }
    
    @keyframes modal {
        0% {left: -1000px;}
        100%{left:0;}
    }


    
    
    .caja-productos{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 0%;
    }
    .productos-perfil{
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .producto-individual{
        width: 90vw;
        margin-top: 3%;
    }

    .producto{
        width: 100%;
        flex-direction:row;
        justify-content: center;
        border: 2px solid black;
        border-radius: 1%;
    }

    .imagen-producto{
        width: 100%;
    }

    .boton
    {
        width: 40%;
        z-index: 10;
        position: relative;
        top: -58px;
        right: -34%;
    }

    img.solicitar {
        width: 100%;
    }

    .info {
        width: 100%;
        margin-top: -20%;
    }

    .nombre-producto{
        font-family: Wrestlemania;
        font-size: 3em;
        line-height: 0.7;
    }
    .nombre-categoria{
        font-family: Frutiger;
        font-size: 1.5em;
    }
    .nombre-subcategoria{
        font-family: Frutiger;
    }

    .descripcion-producto{
        font-family: Frutiger;
    }

    .info a{
        text-decoration: none;
        margin-left: 0;
    }

    .edicion{
        display: flex;
        flex-direction: row;
        margin: 2%;
    }

    .edicion a{
        margin-left: 0%;
    }
    .ver-fotos{
        font-size: 1em;
        font-family: Frutiger;
        text-decoration-line: underline;
        color:grey;
    }

    .modalito{
        display:none;
        position: fixed;
        z-index: 100;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5)        
    }

    .flex{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenido_modal{
        position: relative;
        width: 50%;
        border-radius:10px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
        animation-name: modal;
        animation-duration: 1s;
    }

    .close{
        cursor: pointer;
    }

    .contenido_modal img{
        width: 100%;
        border-radius:10px;
    }

    @keyframes modal{
        from{
            left: -500%;
            opacity: 0; 
        }
        to{
            left:0;
            opacity:1;
        }
    }


    /* -----------------------MEDIAQUERIES---------------------- */


@media (min-width: 451px) and (max-width: 599px) {

    .caja-productos{
        margin:0;
    }

    .nombre-producto{
        font-family: Wrestlemania;
        font-size: 4em;
        line-height: 0.7;
    }
    .nombre-categoria{
        font-family: Frutiger;
        font-size: 1.8em;
    }
    .nombre-subcategoria{
        font-family: Frutiger;
        font-size: 1.8em;
    }

    .descripcion-producto{
        font-family: Frutiger;
        font-size: 1.5em;
    }

    .info a{
        text-decoration: none;
        margin-left: 0;
    }

    .edicion{
        display: flex;
        flex-direction: row;
    }
    .ver-fotos{
        font-size: 1.2em;
        font-family: Frutiger;
        text-decoration-line: underline;
        color:grey;
    }

    .boton{
        width:30%;
    }

    .caja-productos{
        width: 80%;
        padding: 0;
    }

    .producto{
        width: 100%;
        border: 2px solid black;
        border-radius: 1%;
    }

    .imagen-producto{
        width: 100%;
        height: 100%;

    }

    .info{
        margin-top:-15%;
        padding-left:2%;
    }
}

@media (min-width: 600px)  and (max-width: 767px){
    .caja-productos{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0%;
       
    }
    .productos-perfil{
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .producto-individual{
        width: 40vw;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .producto{
        width: 100%;
        height: 200px;
        flex-direction:row;
        justify-content: center;
        border: 2px solid black;
        border-radius: 1%;
    }

    .imagen-producto{
        width: 100%;
        height: 100%;
    }

    .info{
        margin-left: 5%;
    }
    .categorias{
        display: flex;
        flex-direction: row;
        margin-bottom: 3%;
    }

    .nombre-producto{
        height: 60px;
    }
    .nombre-categoria {
        font-family: Frutiger;
        font-size: 1.5em;
        margin: 0;
        font-weight: bolder;
    }

    .nombre-subcategoria {
        font-family: Frutiger;
        margin: 0;
        font-size: 1.5em;
    }

    .descripcion-producto{
        height: 80px;
        
    }

    .edicion{
        width: 100%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .edicion a{
        margin-left: 0;
    }

}

@media (min-width: 768px) and (max-width: 979px) {

    .caja-productos{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0%;
       
    }
    .productos-perfil{
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .producto-individual{
        width: 25vw;
        margin: 0;
    }

    .producto{
        width: 100%;
        flex-direction:row;
        justify-content: center;
        border: 2px solid black;
        border-radius: 1%;
    }

    .imagen-producto{
        width: 100%;
    }

    .nombre-producto{
        font-family: Wrestlemania;
        font-size: 2em;
        line-height: 0.7;
        height:50px;
    }

    .categorias{
        display: flex;
        flex-direction: row;
        margin-bottom: 3%;
    }

    .nombre-categoria{
        font-family: Frutiger;
        font-size: 1.2em;
        margin-left: 0;
        font-weight: bolder;
        margin-right: 1%;
    }

    .nombre-subcategoria{
        font-family: Frutiger;
        font-size: 1.2em;
        margin-left: 0;
    }

    .descripcion-producto{
        font-family: Frutiger;
        font-size: 1em;
    }

    .caja-productos{
        width: 80%;
        padding: 0;
    }

    .producto{
        width: 100%;
        height: 150px;
        border: 2px solid black;
        border-radius: 1%;
    }

    .imagen-producto{
        width: 100%;
        height: 100%;

    }

    .info{
        padding-left:2%;
    }

    .descripcion-producto{
        height: 80px;
        
    }

    .edicion{
        width: 100%;
        margin-bottom: 5%;
       
    }

    .edicion h5{
        font-size: 0.7em;
    }
}


@media screen and (min-width: 980px){
   
    .caja-productos{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0%;
    }
    .productos-perfil{
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
 
    }

    .producto-individual{
        width: 25vw;
        margin: 0;
        margin-bottom: 3%;
    }

    .producto{
        width: 100%;
        height: 250px;
        flex-direction:row;
        justify-content: center;
        border: 2px solid black;
        border-radius: 1%;
    }

    .imagen-producto{
        width: 100%;
        height: 100%;
    }

    .nombre-producto{
        font-family: Wrestlemania;
        font-size: 3em;
        line-height: 0.7;
        height:80px;
    }

    .categorias{
        display: flex;
        flex-direction: row;
        margin-bottom: 3%;
    }

    .nombre-categoria{
        font-family: Frutiger;
        font-size: 1.8em;
        margin-left: 0;
        margin-right: 1%;
        font-weight: bold;
    }
    .nombre-subcategoria{
        font-family: Frutiger;
        font-size: 1.8em;
        margin-left: 0;
    }

    .descripcion-producto {
        font-family: Frutiger;
        font-size: 1.3em;
        height: 100px;
    }

    
    .info{
        padding-left:2%;
    }
    .edicion {
        display: flex;
        flex-direction: row;
        margin: 3%;
    }
    .edicion a {
        text-decoration: none;
        margin-left: 0;
    }

    .edicion h5:hover{
        color: red;
    }
}


