@font-face {
    font-family: Wrestlemania;
    src: url(../Fonts/wrestlemania/WRESTLEMANIA.ttf);
}

@font-face {
    font-family: Frutiger;
    src: url(../Fonts/frutiger/FrutigerLTStd-Cn.otf);
}

@font-face {
    font-family: Milestone;
    src: url(../Fonts/milestone/MilestoneFreeVersion-Script.otf);
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

@keyframes modal {
    0% {
        left: -1000px;
    }
    100% {
        left: 0;
    }
}

.user {
    margin-top: 10%;
    margin-left: 50px;
}

.user-content {
    display: flex;
}

.user-avatar {
    margin: 0% 0% 0% 5%;
    padding: 0%;
    width: 300px;
    height: 300px;
    background-image: url("../img/marco_fotoPerfil-01.svg");
    background-repeat: no-repeat;
}

.user-avatar > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    left: 3%;
    top: 14%;
    z-index: -1;
}

.user-details {
    margin: 2% 0% 1% 0%;
}

.user-details > h1 {
    margin: 3% 0% 3% 0%;
    font-size: 3.5em;
}

.user-motto {
    position: relative;
    margin: 0%;
    left: -9%;
    min-width: 450px;
    min-height: 20px;
    align-self: center;
    background: black;
    color: white;
    font-size: 1.5em;
    padding: 0.1em 0.5em 0.1em 2em;
    text-align: center;
    vertical-align: 50%;
    border-radius: 0px 4px 4px 0px;
    text-align: left;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "icons details";
    margin: 2%;
}

.icons {
    margin: 0%;
    grid-area: icons;
    list-style: none;
    justify-content: center;
}

.icons > li {
    color: white;
    background: black;
    margin: 15px 10px 10px 10px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    width: 40%;
}

.icons a {
    text-decoration: none;
    color: white;
    outline: none;
}

.icons > li img {
    width: 20px;
}

.details {
    margin: 0%;
    grid-area: details;
    list-style: none;
    padding-right: 45px;
}

.details > li {
    margin: 8px;
    text-align: right;
    font-weight: bold;
    font-size: 1em;
    color: #ffc03d;
}

.caja-productos {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.productos-perfil {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.producto-individual {
    width: 30vh;
    margin: 3% 3%;
}

.imagen-producto {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.nombre-categoria {
    font-family: Wrestlemania;
    font-size: 3em;
    line-height: 0.7;
}
.nombre-subcategoria {
    font-family: Frutiger;
}
.nombre-producto {
    font-family: Frutiger;
}
.ver-fotos {
    font-family: Frutiger;
}

img.solicitar {
    z-index: 10;
    width: 15vh;
    margin-inline-start: 17vh;
    margin-top: -7vh;
}

/* -----------------------MEDIAQUERIES---------------------- */

@media (min-width: 451px) and (max-width: 767px) {
    .user-content {
        flex-direction: column;
    }
    .user-motto {
        width: 100%;
    }
}

/* @media (min-width: 768px) and (max-width: 979px) {
    .card {
        width: 50vw;
        margin-top: 20%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 980px) {
    .card {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 30vw;
        border: 2px solid #ccc;
        border-radius: 0.5em;
    }
} */
