@font-face {
    font-family: Wrestlemania;
    src: url(../Fonts/wrestlemania/WRESTLEMANIA.ttf);
}

@font-face {
    font-family: Frutiger;
    src: url(../Fonts/frutiger/FrutigerLTStd-Cn.otf);
}

@font-face {
    font-family: Milestone;
    src: url(../Fonts/milestone/MilestoneFreeVersion-Script.otf);
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

@keyframes modal {
    0% {
        left: -1000px;
    }
    100% {
        left: 0;
    }
}

.card {
    margin-top: 25%;
    margin-bottom: 10%;
    width: 90vw;
    border: 2px solid #ccc;
    border-radius: 0.5em;
}

.card-body {
    padding: 10px;
    margin: 5% 0;
    text-align: center;
}

.card-text {
    font-family: Frutiger;
    font-size: 2em;
    line-height: 0.9em;
    font-weight: bold;
}

.caja-productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.productos-perfil {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.producto-individual {
    width: 30vh;
}

.imagen-producto {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.nombre-categoria {
    font-family: Wrestlemania;
    font-size: 3em;
    line-height: 0.7;
}
.nombre-subcategoria {
    font-family: Frutiger;
}
.nombre-producto {
    font-family: Frutiger;
}
.ver-fotos {
    font-family: Frutiger;
}

img.solicitar {
    z-index: 10;
    width: 15vh;
    margin-inline-start: 17vh;
    margin-top: -7vh;
}

/* -----------------------MEDIAQUERIES---------------------- */

@media (min-width: 451px) and (max-width: 767px) {
    .card {
        width: 50vw;
        margin-top: 25%;
        margin-bottom: 10%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .card {
        width: 50vw;
        margin-top: 20%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 980px) {
    .card {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 30vw;
        border: 2px solid #ccc;
        border-radius: 0.5em;
    }
}
